/*总体*/
*{
	margin: 0;
	padding: 0;
	margin-top: 0px;
	padding-left: 0px;
	font: left;
	font-family:微软雅黑;
}
a{
	text-decoration: none;
}
body{
	background-color:#e7e7e7;
	margin-left:10px;
}
#wp{
	width:1150px;
	margin:0 auto;
}
/*待审批*/
/*待审批第一部分*/
/*！！！！！！！！！！！！！！！！！！！！！！！！有待优化*/
#part411{
	margin-top:6px;
	margin-bottom:10px;
	padding-top:12px;
	width:1150px;
	height:38px;
	background-color:#ffffff;
	border-radius:6px;
}

#part411 ul{
	
}
#part411 ul li{
	float:left;
	list-style:none;
	padding-left:80px;
	line-height:20px;
}
a.daop1{
	font-family:微软雅黑;
	font-size:20px;
	font-weight:bold;
	color:#a6a6a6;
}
a.dangqian{
	margin-bottom:2px;
	font-weight:bold;
	color:#2d75b6;
	font-size:22px;
}
.move411{
	margin-top:30px;
	margin-left:80px;
	float:none;
	width:45px;
	border-top: 3px solid #2d75b6;
}
/*待审批第一部分*/
#part412{
	margin-top:6px;
	margin-bottom:10px;
	padding-top:12px;
	width:1150px;
	/*height:850px;*/
	background-color:#ffffff;
	border-radius:6px;
	padding-bottom:25px;
}

#tp412{
	margin-top:5px;
	margin-left:15px;
}
.p412t{
	/*width:140px;*/
	padding-left:42.2px;
	padding-right:42px;
	height:26px;
	font-size:16px;
	text-align:center;
	background-color:#d8e1f1;
	border:1px solid #ffffff;
}
#p412t{
	margin-left:25px;
	margin-top:10px;
}
.p412bto{
	float:left;
	width:80px;
	height:25px;
	border:none;
	border: 1px solid #2d75b6;
	font-family:微软雅黑;
	font-size:16px;
	border-radius:5px;
	cursor:pointer;
	background-color:#ffffff;
	color:#000000;
	margin-right:20px;
}
.p412bto:hover{
	background-color:#2d75b6;
	color:#ffffff;
}
.p412ts1{
	padding-left:95px;
}
#select412{
	margin-left:10px;
    display:block;
    width:200px;
    height:29px;
    box-sizing:border-box;
    background:none;
    border:2px solid #cccccc;
	border-radius:15px;
    outline:none;
    -webkit-appearance:none;
    line-height:inherit;
    color:inherit;
    cursor:default;
    font-size:16px;
	padding-left:60px;

    z-index:3;
}
#select412 option{
    color:#222;
	font-size:16px;
	padding-bottom:5px;
}

.xuznzek412{
	float:right;
	/*
	width:180px;
	height:30px;
	border:1px solid #cccccc;
	border-radius:15px;
	vertical-align:middle;
	font-family:微软雅黑;
	font-size:18px;
	*/
}

.xg412{
	margin-left:10px;
	width:200px;
	height:25px;
	border:2px solid #cccccc;
	border-radius:15px;
	vertical-align:middle;
	font-family:微软雅黑;
	font-size:16px;
	text-align:center;
	color:#000000;
}

#p411w{
	margin-top:10px;
	margin-left:60px;
	font-family:微软雅黑;
	font-size:16px;
	text-align:left;
}
.in{
	width:40px;
	height:18px;
	text-align:center;
	margin-left:10px;
	margin-right:10px;
}
.in2{
	width:60px;
	height:25px;
	text-align:center;
	margin-left:10px;
	margin-right:10px;
}
.dys{
	padding-right:220px;
}
.dyq{
	width:60px;
	height:30px;
	border:none;
	border: 1px solid #2d75b6;
	font-family:微软雅黑;
	font-size:16px;
	border-radius:22px;
	cursor:pointer;
	background-color:#ffffff;
	color:#000000;
	
}
.dyq:hover{
	background-color:#2d75b6;
	color:#ffffff;
}




